<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="madepeople_worksample_gateway_data_assign" instance="MadePeople\Worksample\Observer\PaymentObserver"
                  disabled="false"/>
    </event>
</config>